modules = ["php-8.2"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Validate Plugin"

[[workflows.workflow]]
name = "Validate Plugin"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php simple-page-builder/validate.php"

[workflows.workflow.metadata]
outputType = "console"
